#oskContainer {
	position: absolute;
	left: 60px;
	top: 1480px;
	/*bottom: -1100px;*/
	height:auto;
	width:auto;
	padding: 10px;
	background: white;
	/*border: 1px solid black;*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	z-index: 999999;
}

.oskButton {
	display:inline-block;
	width: 40px;
	height: 30px;
	padding: 8px;
	margin : 8px;
	font-weight: bold;
	font-size: 30px; 
	text-shadow: 2px 2px 2px #FFFFFF;	
	text-align: center;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCCC));
	/*border: none;*/
	border: 0px solid transparent;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.blueHighlight {
	text-shadow:0px 0px 5px blue;	
	border: 0px solid blue;
	-webkit-box-shadow: 0px 0px 10px blue;
}

.shadow {
	-webkit-box-shadow: 0px 0px 3px #444444;
}

.separator {
	display:inline-block;
	border: 0px;
	width: 25px;
	height: 20px;
	background: transparent;
}

#space {
	width: 540px;
}

#enter {
	width: 115px;
}

#backspace {
	width: 50px;
}

#switchCase {
	width: 50px;
}

#switchMode{
	width: 80px;
}
