/**
 * Generic classes
 */
body {
	margin: 0px;
	padding: 0px;
	background: #BBBBBB url(../images/bg.night.jpg) no-repeat;
	font-family: Helvetica, Arial,  sans-serif;
}

#imgWelcome {
	background: transparent url(../images/i.night.png) no-repeat;
	height: 500px;
	width: 500px;
	margin: 290px;
}

/**
 * Standby Hand
 */
#standbyHand{
	position: absolute;
	margin-left: 690px;
	margin-top: -50px;
	background: url(../images/standby.hand.png);
	width: 390px;
	height: 465px;
}

#titleLogo {
	background: url(../images/title.night.png) no-repeat;
	height: 165px;
	width: 632px;
	display: inline-block;
	margin: 130px 0px 0px 50px;
}

#altstattenLogo {
	padding: 30px 0px 0px 10px; 
	margin: 20px 0px 0px 30px;
}

#titlePage {
	display: inline-block;
	font-size: 100px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
}

#sscrLogo {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:1820px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPage {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:0px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPageRight {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:20px;
	right:20px;
	height: 68px;
	width: 185px;
}

/**
 * Landing Page classes
 */
#pageLanding {
	height: 1920px;
	width:1080px;
	background: transparent url(../images/bg.night.jpg) no-repeat;
	text-align: center;
	vertical-align: middle;
}

#plSpacer {
	height:350px;
}

/**
 * General Page Classes
 */
div[id*="page"] {
	min-height:1920px;
	position:relative;
   	width:1080px;
	height:1920px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(../images/bg.night.jpg) repeat;
	text-align: center;
	vertical-align: middle;
	display: none;
}

#mainHeader {
	height:400px;
	width: 1080px;
	background: transparent;
	text-align: left;
}

#listHeader {
	height:300px;
	width: 1080px;
	background: transparent;
	text-align: left;	
}

#mainFooter {
	background: transparent;
	position: absolute;
	bottom:0;
 	width:100%;
	height: 75px;   /* Height of the footer */
}

#mainFootLeft {
	width: 200px;
	height: 75px;
	display:inline-block;
	float:left;
}

#mainFootCenter {
	width: 650px;
	height: 75px;
	display:inline-block;
	float:left;
	padding: 0px 0px 0px 0px;
}

#mainFootRight {
	width:200px;
	height: 75px;
	display:inline-block;
	float:left;
}

#mainFootRight img {
	padding: 5px 0px 0px 60px;
}

.headerText {
	color: #FFFFFF;
	font-size: 90px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: left;
	display: inline-block;
	height:90px;
	padding: 10px 0px 0px 0px;
}

.bottomTextBox {
	height: 40px;
	width: 500px;
	color:#444444;
	font-size:30px;
	text-shadow: 1px 1px 0px #EEEEEE;
	border: 3px #555555 solid; 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
}


.dateText {
	font-size: 36px;
	font-weight: bold;
	color: #000000;	
	text-align: center;
	display: inline-block;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 730px;
	
	height: 68px;
	width: 300px;
	background: transparent url(../images/date.bg.day.png) no-repeat;
}

#cityLogo {
	padding: 0px 0px 50px 30px;
	vertical-align: middle;
}

/**
 * Main Page (Menu) classes
 */
#pageMain {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * News Page classes
 */
#pageNews {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Events Page classes
 */
#pageEvents {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Tourism Page classes
 */
#pageTourism {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Culture Page classes
 */
#pageCulture {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Hotels Page classes
 */
#pageHotels {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Restaurants Page classes
 */
#pageRestaurants {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

/**
 * Map Page classes
 */
#pageMap {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.night.jpg) no-repeat;
}

#mapContainer {
	height:1250px;
	width: 900px;
	margin: 85px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 5px 5px 10px black;
}

#cornerTL{
	position:absolute;
	top: 500px;
	left: 85px;
	z-index:99999;
}

#cornerTR{
	position:absolute;
	top: 500px;
	left: 971px;
	z-index:99999;
}

#cornerBR{
	position:absolute;
	top: 1745px;
	left: 970px;
	z-index:99999;
}

#cornerBL{
	position:absolute;
	top: 1745px;
	left: 85px;
	z-index:99999;
}

/**
 * Land Page classes
 */
#pageLand {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Weather Page classes
 */
#pageWeather {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Quiz Page classes
 */
#pageQuiz {
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * General Menu Item Class
 */

.menuItem {
	display: inline-block;
}
 
div[id*="cat"] {
	height: 276px;
	width: 276px;
	margin: 70px 30px 40px 30px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 10px 10px 30px black;
	display: inline-block;
}

div[id*="cat"] img {
	margin: 0px 0px 0px 0px;
}

.catText {
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
}

/**
 * Menu item detailed items - categories
 */

#catEvents {
	background-image: url(../images/events.night.png);
}

#catNews {
	background-image: url(../images/info.night.png);
}

#catTourism {
	background-image: url(../images/recreation.night.png);
}

#catCulture {
	background-image: url(../images/culture.night.png);
}

#catHotels {
	background-image: url(../images/Hotels.png);
}

#catRestaurants {
	background-image: url(../images/restaurant.night.png);
}

#catMap {
	background-image: url(../images/map.night.png);
}

#catLand {
	background-image: url(../images/realestate.night.png);
}

#catWeather {
	background-image: url(../images/weather.night.png);
}

#catQuiz {
	background-image: url(../images/quiz.night.png);
}

/**
 * RSS related styles
 */
.rssContainer {
	height: 1450px;
	width: 1080px;
	overflow: hidden;
}

.rssSlider {
	height: 1470px;
	width: 2165px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 320px;
}

.divScrolledList {
	border: none;
}

.divListTitle {
	background: #000000;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	-webkit-box-shadow: 10px 10px 10px #000000;

	width: 960px;
	height: 50px;
	margin: 0px 50px 0px 50px;
	padding: 10px;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	z-index: -1;
}
.divListTitle span {
	display: inline-block;
	padding: 10px 0px 0px 10px;
	min-width: 250px;
}

.rssData {
	height: 1350px;
	width: 960px;
	margin: 0px 50px 0px 50px;
	padding: 10px;
	overflow: hidden;
	text-align: left;
	display: inline-block;
	float:left;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #000000;
	z-index: -2;
	background: #DDDDDD;
}

.rssDetails {
	height: 1450px;
	width: 1080px;
	overflow:hidden;
	text-align: left;
	display: inline-block;
	float:left;
}

.rssItem {
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 30px 10px;
	border-bottom: 3px solid #000000;
	
	width: auto;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssImage {
	width: 100px;
	min-height: 100px;
	margin: 0px 20px 20px 0px;
	display: inline-block;
	float: left;
}

.rssItemTitle {
	font-size: 36px;
	color:#000000;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 10px 0px 0px 10px;	
	max-width: 660px;
	overflow: hidden;
	white-space: normal;
}

.rssItemDate{
	font-size: 36px;
	color:#000000;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	line-height: 36px;
	padding: 10px 0px 0px 10px;
	min-width:250px;
}

.rssItemDescription {
	font-size: 20px;
	color:#000000;
	text-shadow: 1px 1px 2px #222222;
	display: block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 48px;

}

/**
 * Generic Styles
 */
.button {
	display:inline-block;
	height:50px;
	padding: 10px 20px 10px 23px;
	margin: 10px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 40px;
	text-shadow: 2px 2px 3px #444444;
	
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	
	background-color: #1a82f7;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(46,46,46)),
	    color-stop(1, rgb(150,150,150))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(46,46,46) 0%,
	    rgb(150,150,150) 100%
	);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonBack {
	height: 75px;
	width: 495px;
	margin: 0px 0px 0px 110px;
	background: transparent url(../images/back.btn.day.png) no-repeat;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.buttonToList {
	height: 51px;
	width: 50px;
	background: transparent url(../images/back.icon.day.png) no-repeat;
	display: inline-block;
}

.left {
	float:left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

/**
 * Scroll pane
 */
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}

/**
 * Analog Clock
 */
.clockContainer {
	
}

.clock {
	position: relative;
	width: 276px;
	height: 276px;
	margin: 20px auto 0 auto;
	top: -280px;
	left: 360px;
	background: url(../images/clock.bg.night.png) no-repeat;
	list-style: none;
}

.sec, .min, .hour {
	position: absolute;
	width: 9px;
	height: 276px;
	top: 0px;
	left: 138px;
}

.sec {
	background: url(../images/clock.sec.day.png) no-repeat;
	z-index: 3;
}
   
.min {
	background: url(../images/clock.min.night.png) no-repeat;
	z-index: 2;
}
   
.hour {
	background: url(../images/clock.hr.night.png) no-repeat;
	z-index: 1;
}

