/**
 * Generic classes
 */
body {
	margin: 0px;
	padding: 0px;
	background: #000000 url(../images/bg.night.png) no-repeat;
	font-family: Helvetica, Arial,  sans-serif;
}

#imgWelcome {
	background: transparent url(../images/i.night.png) no-repeat;
	height: 600px;
	width: 606px;
	margin: 250px;
}

/**
 * Standby Hand
 */
#standbyHand{
	position: absolute;
	margin-left: 690px;
	margin-top: -50px;
	background: url(../images/standby.hand.png);
	width: 390px;
	height: 465px;
}

#titleLogo {
	background: url(../images/title.day.png) no-repeat;
	height: 165px;
	width: 600px;
	display: inline-block;
	margin: 160px 0px 0px 50px;
}

#altstattenLogo {
	padding: 30px 0px 0px 10px; 
	margin: 20px 0px 0px 30px;
}

#titlePage {
	display: inline-block;
	font-size: 100px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
}

#sscrLogo {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:1820px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPage {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:0px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPageRight {
	background: transparent url(../images/logo.sscr.night.png) no-repeat;
	position:absolute;
	top:20px;
	right:20px;
	height: 68px;
	width: 185px;
}

/**
 * Landing Page classes
 */
#pageLanding {
	height: 1920px;
	width:1080px;
	background: transparent url(../images/bg.night.png) no-repeat;
	text-align: center;
	vertical-align: middle;
}

#plSpacer {
	height:350px;
}

/**
 * General Page Classes
 */
div[id*="page"] {
	min-height:1920px;
	position:relative;
   	width:1080px;
	height:1920px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(../images/bg.night.png) repeat;
	text-align: center;
	vertical-align: middle;
	display: none;
	overflow: hidden;
}

#mainHeader {
	height:400px;
	width: 1080px;
	background: transparent;
	text-align: left;
}

#listHeader {
	height:300px;
	width: 1080px;
	background: transparent;
	text-align: left;	
}

#mainFooter {
	background: transparent url(../images/bottom.main.night.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#videoLink {
	background: transparent;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 100px;
	left: 900px;
}

#cntFooter {
	background: transparent url(../images/bottom.cnt.day.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#mainFootLeft {
	width: 200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootCenter {
	width: 272px; 
	height: 108px; 
	display:inline-block;
	float:left;
	text-align: center;
	padding: 00px 0px 0px 0px;
	margin: 225px 0px 0px 205px;
}

#mainFootRight {
	width:200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootRight img {
	padding: 5px 0px 0px 60px;
}

#srchFootLeft {
	width: 200px;
	height: 108px;
	display:inline-block;
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 225px 0px 0px 30px;
}

#srchFootCenter {
	width: 200px; 
	height: 108px; 
	display:inline-block;
	float:left;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 225px 0px 0px 30px;
}

#srchFootRight {
	width: 570px;
	height: 108px;
	display:inline-block;
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 245px 0px 0px 50px;
}

.headerText {
	color: #000000;
	font-size: 90px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: left;
	display: inline-block;
	height:90px;
	padding: 10px 0px 0px 0px;
}

.bottomTextBox {
	height: 50px;
	width: 500px;
	color:#444444;
	font-size:30px;
	text-shadow: 1px 1px 0px #EEEEEE;
	border: 3px #555555 solid; 
	border-radius: 20px;
	margin: 50px 0px 0px 0px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 3px 3px 13px #222222;
}

#searchIcon {
	background: transparent url(../images/magnifier.glass.png) no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 1428px; 
	left: 740px
}

.dateText {
	font-size: 36px;
	font-weight: bold;
	color: #000000;	
	text-align: center;
	display: inline-block;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 730px;
	
	height: 68px;
	width: 300px;
	background: transparent url(../images/date.bg.day.png) no-repeat;
}

#cityLogo {
	padding: 0px 0px 50px 30px;
	vertical-align: middle;
}

/**
 * Main Page (Menu) classes
 */
#pageMain {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * News Page classes
 */
#pageNews {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Events Page classes
 */
#pageEvents {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Tourism Page classes
 */
#pageTourism {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Culture Page classes
 */
#pageCulture {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Hotels Page classes
 */
#pageHotels {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Restaurants Page classes
 */
#pageRestaurants {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Map Page classes
 */
#pageMap {
	background: transparent url(../images/bg.night.png) no-repeat;
}

#mapContainer {
	height:1050px;
	width: 900px;
	margin: 0px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
}

#zoomOut {
	position: absolute;
	top: 430px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.out.night.png) no-repeat;
	z-index:99999;
}

#zoomIn {
	position: absolute;
	top: 330px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.in.night.png) no-repeat;
	z-index:99999;
}

#satMap {
	position: absolute;
	top: 530px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/sat.night.png) no-repeat;
	z-index:99999;
}

#roadMap {
	position: absolute;
	top: 630px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/road.night.png) no-repeat;
	z-index:99999;
}

#homeMap {
	position: absolute;
	top: 730px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/home.night.png) no-repeat;
	z-index:99999;
}

#cornerTL {
	position:absolute;
	top: 319px; 
	left: 85px;
	height: 30px;
	width: 30px;
	background: transparent url(../images/corner.01.L.night.png) no-repeat;
	z-index:99999;
}

#cornerTR {
	position:absolute;
	top: 319px; 
	left: 961px;
	height: 26px;
	width: 46px;
	background: transparent url(../images/corner.02.L.night.png) no-repeat;
	z-index:99999;
}

#cornerBR {
	position:absolute;
	top: 1345px; 
	left: 964px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.03.L.night.png) no-repeat;
	z-index:99999;
}

#cornerBL {
	position:absolute;
	top: 1345px; 
	left: 85px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.04.L.night.png) no-repeat;
	z-index:99999;
}

/* Eugene */
#mapContainerLand {
	height:750px;
	width: 920px;
	margin: 0px 80px 0px 80px;
	border: 3px #555555 solid; 
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	top: -6px;
}

#zoomOutLand {
	position: absolute;
	top: 820px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.out.night.png) no-repeat;
	z-index:99999;
}

#zoomInLand {
	position: absolute;
	top: 720px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.in.night.png) no-repeat;
	z-index:99999;
}

#satLand {
	position: absolute;
	top: 920px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/sat.night.png) no-repeat;
	z-index:99999;
}

#roadLand {
	position: absolute;
	top: 1020px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/road.night.png) no-repeat;
	z-index:99999;
}

#homeLand {
	position: absolute;
	top: 1120px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/home.night.png) no-repeat;
	z-index:99999;
}

#cornerTLLand {
	position:absolute;
	top: 699px;
	left: 80px; 
	height: 30px;
	width: 30px;
	background: transparent url(../images/corner.01.L.night.png) no-repeat;
	z-index:99999;
}

#cornerTRLand {
	position:absolute;
	top: 699px;
	left: 976px;
	height: 26px;
	width: 46px;
	background: transparent url(../images/corner.02.L.night.png) no-repeat;
	z-index:99999;
}

#cornerBRLand {
	position:absolute;
	top: 1425px; 
	left: 979px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.03.L.night.png) no-repeat;
	z-index:99999;
}

#cornerBLLand {
	position:absolute;
	top: 1425px; 
	left: 80px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.04.L.night.png) no-repeat;
	z-index:99999;
}
/*Eugene End*/

/**
 * Land Page classes
 */
#pageLand {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Weather Page classes
 */
#pageWeather {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * Quiz Page classes
 */
#pageQuiz {
	background: transparent url(../images/bg.night.png) no-repeat;
}

/**
 * General Menu Item Class
 */

.menuItem {
	display: inline-block;
}
 
div[id*="cat"] {
	height: 276px;
	width: 276px;
	margin: 40px 30px 20px 30px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	display: inline-block;
}

div[id*="cat"] img {
	margin: 0px 0px 0px 0px;
}

.catText {
	font-size: 28px;
	font-weight: bolder;
	color: #FFFFFF;
}

/**
 * Menu item detailed items - categories
 */

#catEvents {
	background-image: url(../images/events.night.png);
}

#catNews {
	background-image: url(../images/info.night.png);
}

#catSchedule {
	background-image: url(../images/train.night.png);
}

#catTourism {
	background-image: url(../images/freizeit.night.png);
}

#catHotels {
	background-image: url(../images/hotel.night.png);
}

#catRestaurants {
	background-image: url(../images/restaurant.night.png);
}

#catMap {
	background-image: url(../images/map.night.png);
}

#catWeather {
	background-image: url(../images/weather.night.png);
}

#catQuiz {
	background-image: url(../images/quiz.night.png);
}

#vidContainer {
	width: 900px; 
	padding: 20px; 
	margin: 70px 40px 0px 40px;
	background: #CCCCCC;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	
}

#altstattenVideo {
	display: block;
	margin: 0px; 
	width: 900px; 
	height: 675px;
}

/**
 * RSS related styles
 */
.lrSlider {
	height: 1150px;
	width: 2165px;
	position: absolute;
	left: 0px;
	top: 320px;
}

/* Assume 5 pages */
.lrSliderQuiz {
	height: 1150px;
	width: 5340px;
	position: absolute;
	left: 0px;
	top: 320px;
}

.lrSliderSchedule {
	height: 300px;
	width: 1080px;
	position: absolute;
	left: 0px;
	top: 320px;	
}

.scrolledContainer {
	display: inline-block;
	height: 1150px;
}

.scrolledContainerSchedule {
	display: inline-block;
	height: 400px;
}

.divListTitle {
	background: #444444;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	-webkit-box-shadow: 10px 10px 10px #444444;

	width: 880px;
	height: 52px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
}

.divListFooter {
	height: 30px;
	width: 865px;
	position: relative;
	top: -34px;
	left: 100px;
	background: transparent url(../images/panel.bottom.bg.night.png) repeat-x;
}

.divListTitle span {
	display: inline-block;
	vertical-align: top;
	padding: 5px 0px 0px 10px;
	min-width: 250px;
	height: 52px;
	max-width: 720px;
	line-height: 52px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

span.titleLong {
	min-width: 490px;
}

.swipeMask {
	height: 1050px;
	width: 880px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #FFFFFF;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #000000;
	overflow: hidden;
}

.swipeMaskSchedule {
	height: 275px;
	width: 880px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #FFFFFF;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #000000;
	overflow: hidden;
}

.rssData {
	padding: 0px 0px 0px 0px;
	position: absolute;
	left: 35px;
	top: 0px;
	width: 850px;
	
	font-size: 30px;
	font-weight: normal;
/*Eugene End*/
}

/* Eugene */
.landHeight {
	
}

.rssData h2 {
	font-size: 34px;	
	font-weight: bold;
}

.rssData p b {
	font-size: 30px;
	font-weight: normal;
}

.rssData b {
	font-size: 30px;
	font-weight: bold;
}
	
.rssDetails {
	height: 1460px;
	width: 1080px;
	overflow: hidden;
	text-align: left;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 1080px;
}

.rssItem {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
	border-bottom: 3px solid #000000;
	
	width: auto;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssItemWImage {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border-bottom: 3px solid #000000;
	
	width: auto;
	height: 70px;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssImage {
	width: 107px;
	height: 70px;
	margin: 0px 20px 20px 0px;
	display: inline-block;
}

.rssItemTitle {
	font-size: 36px;
	color:#000000;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 0px 0px 0px 0px;	
	max-width: 600px;
	max-height: 85px;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
}

.rssItemDate{
	font-size: 36px;
	color:#000000;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	line-height: 36px;
	padding: 0px 0px 0px 0px;
	min-width:250px;
	vertical-align: top;
}

.rssItem .rssItemDescription {
	font-size: 20px;
	color:#000000;
	text-shadow: 1px 1px 2px #222222;
	display: inline-block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 48px;

}

.rssItemWDescription {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	border-bottom: 3px solid #000000;
	
	width: auto;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssItemWDescription .rssItemDescription {
	font-size: 36px;
	color:#000000;
	display: inline-block;
	
	overflow: hidden;
	width: 340px;
	height: 48px;
}

.rssItemWDescription .rssItemTitle {
	font-size: 36px;
	color:#000000;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 0px 0px 0px 0px;	
	width: 510px;
	height: 85px;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
}

/**
 * Schedule page classes
 */
#scheduleTitle {
	color: #BA001D;
	font-size: 38px;
	font-weight: bold;
	text-align: left;
	margin: 0px 0px 0px 100px;
}

.scheduleItems {

}
.scheduleItem {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	height: 80px;
	width: 900px;
	margin: 10px 90px 30px 90px;
	background: #FFFFFF;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #000000;
	vertical-align: text-top;
}

.scheduleImage {
	height: 60px;
	margin: 10px;
}

.scheduleText {
	display: inline-block;
	position: relative;
	top: -25px;
}

/**
 * Generic Styles
 */

.txtImage {
	margin: 120px 0px 0px 70px;
}

.button {
	display:inline-block;
	height:50px;
	padding: 10px 20px 10px 23px;
	margin: 10px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 40px;
	text-shadow: 2px 2px 3px #444444;
	
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	
	background-color: #1a82f7;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(46,46,46)),
	    color-stop(1, rgb(150,150,150))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(46,46,46) 0%,
	    rgb(150,150,150) 100%
	);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonBack {
	height: 102px;
	width: 272px;
	margin: 0px 0px 0px 0px;
	background: transparent url(../images/back.btn.night.png) no-repeat;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonToList {
	height: 52px;
	width: 73px;
	padding: 0px 30px 0px 0px;
	background: transparent url(../images/back.icon.night.png) no-repeat;
	display: inline-block;
}

.buttonToNext {
	height: 52px;
	width: 73px;
	padding: 0px 0px 0px 0px;
	background: transparent url(../images/back.icon.next.night.png) no-repeat;
	display: inline-block;
	float: right;
}

.left {
	float:left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

/**
 * Scroll pane
 */
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}

/**
 * Analog Clock
 */
.clockContainer {
	
}

.clock {
	position: relative;
	width: 276px;
	height: 276px;
	margin: 0px auto 0px auto;
	top: -280px;
	left: 360px;
	background: url(../images/clock.bg.night.png) no-repeat;
	list-style: none;
}

.sec, .min, .hour {
	position: absolute;
	width: 9px;
	height: 276px;
	top: 0px;
	left: 138px;
}

.sec {
	background: url(../images/clock.sec.day.png) no-repeat;
	z-index: 3;
}
   
.min {
	background: url(../images/clock.min.day.png) no-repeat;
	z-index: 2;
}
   
.hour {
	background: url(../images/clock.hr.day.png) no-repeat;
	z-index: 1;
}

