/**
 * Generic classes
 */
body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../images/bg.day.png) no-repeat;
	font-family: Helvetica, Arial,  sans-serif;
}

#imgWelcome {
	background: transparent url(../images/i.day.png) no-repeat;
	height: 600px;
	width: 606px;
	margin: 250px;
}

/**
 * Standby Hand
 */
#standbyHand{
	position: absolute;
	margin-left: 690px;
	margin-top: -50px;
	background: url(../images/standby.hand.png);
	width: 390px;
	height: 465px;
}

#titleLogo {
	background: url(../images/title.day.png) no-repeat;
	height: 165px;
	width: 632px;
	display: inline-block;
	margin: 130px 0px 0px 50px;
}

#altstattenLogo {
	padding: 30px 0px 0px 10px; 
	margin: 20px 0px 0px 30px;
}

#titlePage {
	display: inline-block;
	font-size: 100px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0px 0px 1px #AAAAAA;
}

#sscrLogo {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:1820px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPage {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:0px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPageRight {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:20px;
	right:20px;
	height: 68px;
	width: 185px;
}

/**
 * Landing Page classes
 */
#pageLanding {
	height: 1920px;
	width:1080px;
	background: transparent url(../images/bg.day.png) no-repeat;
	text-align: center;
	vertical-align: middle;
}

#plSpacer {
	height:350px;
}

/**
 * General Page Classes
 */
div[id*="page"] {
	min-height:1920px;
	position:relative;
   	width:1080px;
	height:1920px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(../images/bg.day.png) repeat;
	text-align: center;
	vertical-align: middle;
	display: none;
	overflow: hidden;
}

#mainHeader {
	height:400px;
	width: 1080px;
	background: transparent;
	text-align: left;
}

#listHeader {
	height:300px;
	width: 1080px;
	background: transparent;
	text-align: left;	
}

#mainFooter {
	background: transparent url(../images/bottom.main.day.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#cntFooter {
	background: transparent url(../images/bottom.cnt.day.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#mainFootLeft {
	width: 200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootCenter {
	width: 272px; 
	height: 108px; 
	display:inline-block;
	float:left;
	text-align: center;
	padding: 00px 0px 0px 0px;
	margin: 225px 0px 0px 205px;
}

#mainFootRight {
	width:200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootRight img {
	padding: 5px 0px 0px 60px;
}

.headerText {
	color: #FFFFFF;
	font-size: 90px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: left;
	display: inline-block;
	height:90px;
	padding: 10px 0px 0px 0px;
}

.bottomTextBox {
	height: 40px;
	width: 500px;
	color:#444444;
	font-size:30px;
	text-shadow: 1px 1px 0px #EEEEEE;
	border: 3px #555555 solid; 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
}


.dateText {
	font-size: 36px;
	font-weight: bold;
	color: #000000;	
	text-align: center;
	display: inline-block;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 730px;
	
	height: 68px;
	width: 300px;
	background: transparent url(../images/date.bg.day.png) no-repeat;
}

#cityLogo {
	padding: 0px 0px 50px 30px;
	vertical-align: middle;
}

/**
 * Main Page (Menu) classes
 */
#pageMain {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * News Page classes
 */
#pageNews {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Events Page classes
 */
#pageEvents {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Tourism Page classes
 */
#pageTourism {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Culture Page classes
 */
#pageCulture {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Hotels Page classes
 */
#pageHotels {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Restaurants Page classes
 */
#pageRestaurants {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Map Page classes
 */
#pageMap {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

#mapContainer {
	height:1250px;
	width: 900px;
	margin: 85px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 5px 5px 10px black;
}

#cornerTL{
	position:absolute;
	top: 500px;
	left: 85px;
	z-index:99999;
}

#cornerTR{
	position:absolute;
	top: 500px;
	left: 971px;
	z-index:99999;
}

#cornerBR{
	position:absolute;
	top: 1745px;
	left: 970px;
	z-index:99999;
}

#cornerBL{
	position:absolute;
	top: 1745px;
	left: 85px;
	z-index:99999;
}

/*Eugene*/
#mapContainerLand {
	height:1000px;
	width: 900px;
	margin: 85px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 5px 5px 10px black;
}

#cornerTLLand{
	position:absolute;
	top: 500px;
	left: 85px;
	z-index:99999;
}

#cornerTRLand{
	position:absolute;
	top: 500px;
	left: 971px;
	z-index:99999;
}

#cornerBRLand{
	position:absolute;
	top: 1745px;
	left: 970px;
	z-index:99999;
}

#cornerBLLand{
	position:absolute;
	top: 1745px;
	left: 85px;
	z-index:99999;
}
/*Eugene End*/

/**
 * Land Page classes
 */
#pageLand {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.jpg) no-repeat;
}

/**
 * Weather Page classes
 */
#pageWeather {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.jpg) no-repeat;
}

/**
 * Quiz Page classes
 */
#pageQuiz {
	background: transparent url(../images/bg.day.jpg) no-repeat;
}

/**
 * General Menu Item Class
 */

.menuItem {
	display: inline-block;
}
 
div[id*="cat"] {
	height: 276px;
	width: 276px;
	margin: 40px 30px 20px 30px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	display: inline-block;
}

div[id*="cat"] img {
	margin: 0px 0px 0px 0px;
}

.catText {
	font-size: 28px;
	font-weight: bolder;
	color: #000000;
}

/**
 * Menu item detailed items - categories
 */

#catEvents {
	background-image: url(../images/events.day.png);
}

#catNews {
	background-image: url(../images/info.day.png);
}

#catSchedule {
	background-image: url(../images/train.day.png);
}

#catTourism {
	background-image: url(../images/freizeit.day.png);
}

#catHotels {
	background-image: url(../images/hotel.day.png);
}

#catRestaurants {
	background-image: url(../images/restaurant.day.png);
}

#catMap {
	background-image: url(../images/map.day.png);
}

#catWeather {
	background-image: url(../images/weather.day.png);
}

#catQuiz {
	background-image: url(../images/quiz.day.png);
}

/**
 * RSS related styles
 */
.lrSlider {
	height: 1150px;
	width: 2165px;
	position: absolute;
	left: 0px;
	top: 320px;
}

/* Assume 5 pages */
.lrSliderQuiz {
	height: 1150px;
	width: 5340px;
	position: absolute;
	left: 0px;
	top: 320px;
}

.scrolledContainer {
	display: inline-block;
	height: 1150px;
}

.divListTitle {
	background: #FFFFFF;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	-webkit-box-shadow: 10px 10px 10px #444444;

	width: 880px;
	height: 52px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
}

.divListFooter {
	height: 30px;
	width: 865px;
	position: relative;
	top: -30px;
	left: 100px;
	background: transparent url(../images/panel.bottom.bg.day.png) repeat-x;
}

.divListTitle span {
	display: inline-block;
	vertical-align: top;
	padding: 5px 0px 0px 10px;
	min-width: 250px;
	height: 52px;
	line-height: 52px;
}

.swipeMask {
	height: 1050px;
	width: 880px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #000000;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	overflow: hidden;
}

.rssData {
	padding: 0px 0px 0px 0px;
	position: absolute;
	left: 35px;
	top: 0px;
	width: 850px;
/*Eugene*/
.landHeight {
}
/*Eugene End*/

}

.rssData h2 {
	font-size: 36px;	
	font-weight: bold;
}

.rssData p b {
	font-size: 34px;
	font-weight: normal;
}

.rssData p b {
	font-size: 34px;
	font-weight: normal;
}

.rssData b {
	font-size: 34px;
	font-weight: bold;
}
	
.rssDetails {
	height: 1460px;
	width: 1080px;
	overflow: hidden;
	text-align: left;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 1080px;
}

.rssItem {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
	border-bottom: 3px solid #FFFFFF;
	
	width: auto;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssItemWImage {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border-bottom: 3px solid #FFFFFF;
	
	width: auto;
	height: 70px;
	min-height: 70px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssImage {
	width: 107px;
	height: 70px;
	margin: 0px 20px 20px 0px;
	display: inline-block;
}

.rssItemTitle {
	font-size: 36px;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 0px 0px 0px 0px;	
	max-width: 600px;
	max-height: 85px;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
}

.rssItemDate{
	font-size: 36px;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	line-height: 36px;
	padding: 0px 0px 0px 0px;
	min-width:250px;
	vertical-align: top;
}

.rssItemDescription {
	font-size: 20px;
	color:#FFFFFF;
	text-shadow: 1px 1px 2px #222222;
	display: block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 48px;

}

/**
 * Generic Styles
 */

.txtImage {
	margin: 120px 0px 0px 70px;
}

.button {
	display:inline-block;
	height:50px;
	padding: 10px 20px 10px 23px;
	margin: 10px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 40px;
	text-shadow: 2px 2px 3px #444444;
	
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	
	background-color: #1a82f7;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(46,46,46)),
	    color-stop(1, rgb(150,150,150))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(46,46,46) 0%,
	    rgb(150,150,150) 100%
	);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonBack {
	height: 102px;
	width: 272px;
	margin: 0px 0px 0px 0px;
	background: transparent url(../images/back.btn.day.png) no-repeat;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonToList {
	height: 52px;
	width: 73px;
	padding: 0px 30px 0px 0px;
	background: transparent url(../images/back.icon.day.png) no-repeat;
	display: inline-block;
}

.buttonToNext {
	height: 52px;
	width: 73px;
	padding: 0px 0px 0px 0px;
	background: transparent url(../images/back.icon.next.day.png) no-repeat;
	display: inline-block;
	float: right;
}

.left {
	float:left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

/**
 * Scroll pane
 */
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}

/**
 * Analog Clock
 */
.clockContainer {
	
}

.clock {
	position: relative;
	width: 276px;
	height: 276px;
	margin: 0px auto 0px auto;
	top: -280px;
	left: 360px;
	background: url(../images/clock.bg.day.png) no-repeat;
	list-style: none;
}

.sec, .min, .hour {
	position: absolute;
	width: 9px;
	height: 276px;
	top: 0px;
	left: 138px;
}

.sec {
	background: url(../images/clock.sec.day.png) no-repeat;
	z-index: 3;
}
   
.min {
	background: url(../images/clock.min.day.png) no-repeat;
	z-index: 2;
}
   
.hour {
	background: url(../images/clock.hr.day.png) no-repeat;
	z-index: 1;
}

