/**
 * Generic classes
 */
body {
	margin: 0px;
	padding: 0px;
	background: #000000 url(../images/Background.Silver.png) no-repeat;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#sscrLogo {
	position:absolute;
	top:1820px;
	right:180px;
}

/**
 * Landing Page classes
 */
#pageLanding {
	height: 1920px;
	width:1080px;
	background: transparent url(../images/bg.tile.silver.png) repeat;
	text-align: center;
	vertical-align: middle;
}

#plSpacer {
	height:350px;
}

/**
 * General Page Classes
 */
div[id*="page"] {
	min-height:1920px;
	position:relative;
   	width:1080px;
	height:1920px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(../images/bg.tile.png) repeat;
	text-align: center;
	vertical-align: middle;
	display: none;
}

#mainHeader {
	height:124px;
	width: 1080px;
	background: transparent url(../images/Top.png) repeat;
	text-align: left;
}

#mainHeader div {
	height:124px;
}

#mainFooter {
	background: transparent url(../images/Bottom.png) repeat;
	position:absolute;
	bottom:0;
 	width:100%;
	height:110px;   /* Height of the footer */
}

#mainFootLeft {
	width: 200px;
	height: 110px;
	display:inline-block;
	float:left;
}

#mainFootCenter {
	width: 650px;
	height: 110px;
	display:inline-block;
	float:left;
}

#mainFootRight {
	width:200px;
	height: 110px;
	display:inline-block;
	float:left;
}

#mainFootRight img {
	padding: 5px 0px 0px 60px;
}

.headerText {
	color: #FFFFFF;
	font-size: 90px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: left;
	display: inline-block;
	height:90px;
	padding: 10px 0px 0px 0px;
}

.bottomTextBox {
	height: 40px;
	width: 500px;
	color:#444444;
	font-size:30px;
	text-shadow: 1px 1px 0px #EEEEEE;
	border: 3px #555555 solid; 
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
}


#dateText {
	color: #FFFFFF;
	font-size: 20px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: right;
	display: inline-block;
	padding: 20px 20px 20px 20px;
}

#cityLogo {
	padding: 0px 0px 50px 30px;
	vertical-align: middle;
}

/**
 * Main Page (Menu) classes
 */
#pageMain {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * News Page classes
 */
#pageNews {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Events Page classes
 */
#pageEvents {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Tourism Page classes
 */
#pageTourism {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Culture Page classes
 */
#pageCulture {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Hotels Page classes
 */
#pageHotels {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Restaurants Page classes
 */
#pageRestaurants {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Map Page classes
 */
#pageMap {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

#mapContainer {
	height:1500px;
	width: 900px;
	margin: 85px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 5px 5px 10px black;
}

#cornerTL{
	position:absolute;
	top: 209px;
	left: 85px;
	z-index:99999;
}

#cornerTR{
	position:absolute;
	top: 209px;
	left: 971px;
	z-index:99999;
}

#cornerBR{
	position:absolute;
	top: 1695px;
	left: 970px;
	z-index:99999;
}

#cornerBL{
	position:absolute;
	top: 1695px;
	left: 85px;
	z-index:99999;
}

/**
 * Land Page classes
 */
#pageLand {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * Weather Page classes
 */
#pageWeather {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.tile.png) no-repeat;
}

/**
 * General Menu Item Class
 */
div[id*="cat"] {
	height: 256px;
	width: 256px;
	margin: 150px 50px 50px 50px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	color: #FFFFFF;
}

/**
 * Menu item detailed items - categories
 */

#catEvents {
	background-image: url(../images/Events.png);
}

#catNews {
	background-image: url(../images/News.png);
}

#catTourism {
	background-image: url(../images/Recreation.png);
}

#catCulture {
	background-image: url(../images/Culture.png);
}

#catHotels {
	background-image: url(../images/Hotels.png);
}

#catRestaurants {
	background-image: url(../images/Restaurants.png);
}

#catMap {
	background-image: url(../images/Map.png);
}

#catLand {
	background-image: url(../images/RealEstate.png);
}

#catWeather {
	background-image: url(../images/Weather.png);
}

/**
 * RSS related styles
 */
.rssData {
	height: 1750px;
	width: auto;
	overflow:hidden;
	text-align: left;
}
.rssItem {
	margin: 20px 20px 0px 20px;
	padding: 20px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 5px 5px 10px #000000;
	
	width: auto;
	min-height: 70px;
	max-height: 100px;

	background: -webkit-gradient(linear, 0 0, 0 100%, from(#DDDDDD), to(#555555));
}

.rssImage {
	width: 100px;
	min-height: 100px;
	margin: 0px 20px 20px 0px;
	display: inline-block;
	float: left;
}

.rssItemTitle {
	font-size: 26px;
	color:#777777;
	text-shadow: 1px 1px 3px #000000;
	display: block;
}

.rssItemDate{
	font-size: 15px;
	color: #EEEEEE;
	text-shadow: 1px 1px 3px #000000;
	display: block;
}

.rssItemDescription {
	font-size: 15px;
	color:#FFFFFF;
	text-shadow: 1px 1px 2px #222222;
	display: block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 55px;

}

/**
 * Generic Styles
 */
.button {
	display:inline-block;
	height:50px;
	padding: 10px 20px 10px 23px;
	margin: 20px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 40px;
	text-shadow: 2px 2px 3px #444444;
	
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	
	background-color: #1a82f7;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(46,46,46)),
	    color-stop(1, rgb(150,150,150))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(46,46,46) 0%,
	    rgb(150,150,150) 100%
	);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.left {
	float:left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

/**
 * Scroll pane
 */
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}
