/**
 * Generic classes
 */

html, body {
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../images/bg.day.png) no-repeat;
	font-family: Helvetica, Arial,  sans-serif;
	height: 1920px;
	width: 1080px;
	/*overflow: hidden;
	cursor: url(../images/empty.cur), none;*/
}

#imgWelcome {
	background: transparent url(../images/i.day.png) no-repeat;
	height: 600px;
	width: 606px;
	margin: 250px;
}

/**
 * Standby Hand
 */
#standbyHand{
	position: absolute;
	left: 1080px;
	top: 1920px;
	background: url(../images/standby.hand.png);
	width: 390px;
	height: 465px;
	opacity: 0;
}

#titleLogo {
	background: url(../images/title.day.png) no-repeat;
	height: 165px;
	width: 632px;
	display: inline-block;
	margin: 130px 0px 0px 50px;
}

#altstattenLogo {
	padding: 30px 0px 0px 10px; 
	margin: 20px 0px 0px 30px;
}

#titlePage {
	display: inline-block;
	font-size: 100px;
	font-weight: bold;
	color: #000000;
	text-shadow: 0px 0px 1px #AAAAAA;
}

#sscrLogo {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:1820px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPage {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:0px;
	left:450px;
	height: 68px;
	width: 185px;
}

.sscrLogoPageRight {
	background: transparent url(../images/logo.sscr.day.png) no-repeat;
	position:absolute;
	top:20px;
	right:20px;
	height: 68px;
	width: 185px;
}

/**
 * Landing Page classes
 */
#pageLanding {
	height: 1920px;
	width:1080px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
}

#plSpacer {
	height:350px;
}

/**
 * General Page Classes
 */
div[id*="page"] {
	min-height:1920px;
	position:relative;
   	width:1080px;
	height:1920px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	background: transparent url(../images/bg.day.png) repeat;
	text-align: center;
	vertical-align: middle;
	display: none;
	overflow: hidden;
	z-index : 2;
}

#mainHeader {
	height:400px;
	width: 1080px;
	background: transparent;
	text-align: left;
}

#listHeader {
	height:300px;
	width: 1080px;
	background: transparent;
	text-align: left;	
}

#mainFooter {
	background: transparent url(../images/bottom.main.day.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#videoLink {
	background: transparent;
	height: 170px;
	width: 170px;
	position: absolute;
	top: 50px;
	left: 850px;
}

#cntFooter {
	background: transparent url(../images/bottom.cnt.day.png) no-repeat;
	position: absolute;
	bottom:0;
 	width:1080px;
	height:373px;   /* Height of the footer */
}

#mainFootLeft {
	width: 200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootCenter {
	width: 272px; 
	height: 108px; 
	display:inline-block;
	float:left;
	text-align: center;
	padding: 00px 0px 0px 0px;
	margin: 190px 0px 0px 120px;
}

#mainFootRight {
	width:200px;
	height: 74px;
	display:inline-block;
	float:left;
}

#mainFootRight img {
	padding: 5px 0px 0px 60px;
}

#srchFootLeft {
	width: 200px;
	height: 108px;
	display:inline-block;
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 225px 0px 0px 30px;
}

#srchFootCenter {
	width: 200px; 
	height: 108px; 
	display:inline-block;
	float:left;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 225px 0px 0px 30px;
}

#srchFootRight {
	width: 570px;
	height: 108px;
	display:inline-block;
	float:left;
	padding: 0px 0px 0px 0px;
	margin: 245px 0px 0px 50px;
}

.headerText {
	color: #FFFFFF;
	font-size: 90px;
	font-family: Arial;
	text-shadow: 2px 2px 2px #666666;
	text-align: left;
	display: inline-block;
	height:90px;
	padding: 10px 0px 0px 0px;
}

.bottomTextBox {
	height: 50px;
	width: 500px;
	color:#444444;
	font-size:30px;
	text-shadow: 1px 1px 0px #EEEEEE;
	border: 3px #555555 solid; 
	border-radius: 20px;
	margin: 50px 0px 0px 0px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: 3px 3px 13px #222222;
}

#searchIcon {
	background: transparent url(../images/magnifier.glass.png) no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 1428px; 
	left: 740px
}

.dateText {
	font-size: 36px;
	font-weight: bold;
	color: #000000;	
	text-align: center;
	display: inline-block;
	padding: 5px 0px 0px 0px;
	margin: 0px 0px 0px 730px;
	
	height: 68px;
	width: 300px;
	background: transparent url(../images/date.bg.day.png) no-repeat;
}

#cityLogo {
	padding: 0px 0px 50px 30px;
	vertical-align: middle;
}

/**
 * Main Page (Menu) classes
 */
#pageMain {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * News Page classes
 */
#pageNews {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Events Page classes
 */
#pageEvents {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Tourism Page classes
 */
#pageTourism {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Culture Page classes
 */
#pageCulture {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Hotels Page classes
 */
#pageHotels {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Restaurants Page classes
 */
#pageRestaurants {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Map Page classes
 */
#pageMap {
	background: transparent url(../images/bg.day.png) no-repeat;
}

#mapContainer {
	height:1150px;
	width: 900px;
	margin: 0px 85px 0px 85px;
	border: 3px #555555 solid; 
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	
	color: #000000;
	font-size: 36px;
	background: transparent url(../images/map.placeholder.png);
}

#zoomOut {
	position: absolute;
	top: 440px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.out.day.png) no-repeat;
	z-index:99999;
}

#zoomIn {
	position: absolute;
	top: 330px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.in.day.png) no-repeat;
	z-index:99999;
}

#satMap {
	position: absolute;
	top: 550px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/sat.day.png) no-repeat;
	z-index:99999;
}

#roadMap {
	position: absolute;
	top: 660px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/road.day.png) no-repeat;
	z-index:99999;
}

#homeMap {
	position: absolute;
	top: 770px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/home.day.png) no-repeat;
	z-index:99999;
}

#panUp {
	position: absolute;
	top: 330px;
	left: 800px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.up.day.png) no-repeat;
	z-index:99999;
}

#panRight {
	position: absolute;
	top: 405px;
	left: 875px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.right.day.png) no-repeat;
	z-index:99999;
}

#panDown {
	position: absolute;
	top: 480px;
	left: 800px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.down.day.png) no-repeat;
	z-index:99999;
}

#panLeft {
	position: absolute;
	top: 405px;
	left: 725px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.left.day.png) no-repeat;
	z-index:99999;
}

#cornerTL {
	position:absolute;
	top: 319px; 
	left: 85px;
	height: 30px;
	width: 30px;
	background: transparent url(../images/corner.01.L.day.png) no-repeat;
	z-index:99999;
}

#cornerTR {
	position:absolute;
	top: 319px; 
	left: 961px;
	height: 26px;
	width: 46px;
	background: transparent url(../images/corner.02.L.day.png) no-repeat;
	z-index:99999;
}

#cornerBR {
	position:absolute;
	top: 1445px; 
	left: 964px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.03.L.day.png) no-repeat;
	z-index:99999;
}

#cornerBL {
	position:absolute;
	top: 1445px; 
	left: 85px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.04.L.day.png) no-repeat;
	z-index:99999;
}

/* Eugene */
#mapContainerLand {
	height:700px;
	width: 920px;
	margin: 0px 80px 0px 80px;
	border: 3px #555555 solid; 
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	top: 10px;
	
	color: #000000;
	font-size: 36px;
	background: transparent url(../images/map.placeholder.png);
}

#zoomOutLand {
	position: absolute;
	top: 930px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.out.day.png) no-repeat;
	z-index:99999;
}

#zoomInLand {
	position: absolute;
	top: 820px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/zoom.in.day.png) no-repeat;
	z-index:99999;
}

#satLand {
	position: absolute;
	top: 1040px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/sat.day.png) no-repeat;
	z-index:99999;
}

#roadLand {
	position: absolute;
	top: 1150px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/road.day.png) no-repeat;
	z-index:99999;
}

#homeLand {
	position: absolute;
	top: 1260px;
	left: 100px;
	height: 102px;
	width: 146px;
	background: transparent url(../images/home.day.png) no-repeat;
	z-index:99999;
}

#panLandUp {
	position: absolute;
	top: 820px;
	left: 810px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.up.day.png) no-repeat;
	z-index:99999;
}

#panLandRight {
	position: absolute;
	top: 895px;
	left: 885px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.right.day.png) no-repeat;
	z-index:99999;
}

#panLandDown {
	position: absolute;
	top: 970px;
	left: 810px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.down.day.png) no-repeat;
	z-index:99999;
}

#panLandLeft {
	position: absolute;
	top: 895px;
	left: 735px;
	height: 102px;
	width: 102px;
	background: transparent url(../images/pan.left.day.png) no-repeat;
	z-index:99999;
}

#cornerTLLand {
	position:absolute;
	top: 793px;
	left: 80px; 
	height: 30px;
	width: 30px;
	background: transparent url(../images/corner.01.L.day.png) no-repeat;
	z-index:99999;
}

#cornerTRLand {
	position:absolute;
	top: 793px;
	left: 976px;
	height: 26px;
	width: 46px;
	background: transparent url(../images/corner.02.L.day.png) no-repeat;
	z-index:99999;
}

#cornerBRLand {
	position:absolute;
	top: 1473px; 
	left: 979px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.03.L.day.png) no-repeat;
	z-index:99999;
}

#cornerBLLand {
	position:absolute;
	top: 1473px; 
	left: 80px;
	height: 45px;
	width: 42px;
	background: transparent url(../images/corner.04.L.day.png) no-repeat;
	z-index:99999;
}
/*Eugene End*/

/**
 * Land Page classes
 */
#pageLand {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Weather Page classes
 */
#pageWeather {
	/*background: transparent url(../images/Background.png) no-repeat; */
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * Quiz Page classes
 */
#pageQuiz {
	background: transparent url(../images/bg.day.png) no-repeat;
}

/**
 * General Menu Item Class
 */

.menuItem {
	display: inline-block;
}
 
div[id*="cat"] {
	height: 276px;
	width: 276px;
	margin: 40px 30px 20px 30px;
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-webkit-box-shadow: 5px 5px 30px #444444;
	display: inline-block;
}

div[id*="cat"] img {
	margin: 0px 0px 0px 0px;
}

.catText {
	font-size: 28px;
	font-weight: bolder;
	text-shadow: 0px 0px 1px #AAAAAA;
	color: #000000;
}

/**
 * Menu item detailed items - categories
 */

#catEvents {
	background-image: url(../images/events.day.png);
}

#catNews {
	background-image: url(../images/info.day.png);
}

#catSchedule {
	background-image: url(../images/train.day.png);
}

#catTourism {
	background-image: url(../images/freizeit.day.png);
}

#catHotels {
	background-image: url(../images/hotel.day.png);
}

#catRestaurants {
	background-image: url(../images/restaurant.day.png);
}

#catMap {
	background-image: url(../images/map.day.png);
}

#catWeather {
	background-image: url(../images/weather.day.png);
}

#catQuiz {
	background-image: url(../images/quiz.day.png);
}

#vidContainer {
	width: 900px; 
	padding: 20px; 
	margin: 70px 40px 0px 40px;
	background: #000000;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	
}

#altstattenVideo {
	display: block;
	margin: 0px; 
	width: 900px; 
	height: 675px;
}

/**
 * RSS related styles
 */
.lrSlider {
	height: 1150px;
	width: 2165px;
	position: absolute;
	left: 0px;
	top: 320px;
}

.lrSliderSmall  {
	height: 575px;
	width: 2165px;
	position: absolute;
	left: 0px;
	top: 320px;
}

/* Assume 5 pages */
.lrSliderQuiz {
	height: 1150px;
	width: 5340px;
	position: absolute;
	left: 0px;
	top: 320px;
}

.lrSliderSchedule {
	height: 300px;
	width: 1080px;
	position: absolute;
	left: 0px;
	top: 320px;	
}

.scrolledContainer {
	display: inline-block;
	height: 1150px;
}

.scrolledContainerSmall {
	display: inline-block;
	height: 575px;
	width: 1080px;
}

.scrolledContainerSchedule {
	display: inline-block;
	height: 400px;
}

.divListTitle {
	background: #444444;
	border-radius: 30px 30px 0px 0px;
	-webkit-border-radius: 30px 30px 0px 0px;
	-moz-border-radius: 30px 30px 0px 0px;
	-webkit-box-shadow: 10px 10px 10px #444444;

	width: 880px;
	height: 110px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	font-size: 44px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
}

.divListFooter {
	height: 30px;
	width: 865px;
	position: relative;
	top: -34px;
	left: 100px;
	background: transparent url(../images/panel.bottom.bg.day.png) repeat-x;
}

.divListTitle span {
	display: inline-block;
	vertical-align: top;
	padding: 30px 0px 0px 10px;
	min-width: 230px;
	height: 90px;
	max-width: 720px;
	line-height: 52px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
}

span.titleLong {
	min-width: 490px;
}

.swipeMask {
	height: 1050px;
	width: 880px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #000000;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	overflow: hidden;
}

.swipeMask div center table {
	color: #000000;
}

.swipeMask div center table tbody tr td table tbody tr td table {
	width: 800px;
}

.swipeMaskSmall {
	height: 490px;
	width: 880px;
	margin: 0px 70px 0px 52px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #000000;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	overflow: hidden;
}

.swipeMaskSmall div center table {
	color: #000000;
}

.swipeMaskSmall div center table tbody tr td table tbody tr td table {
	width: 800px;
}

.scrollIndicator {
	height: 200px;
	width: 10px;
	margin: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	top: 0px;
	left: 0px;
	background: #FFFFFF;
	opacity: 0.5;
	
}

.buttonUp {
	height: 102px;
	width: 102px;
	position: absolute;
	padding: 50px;
	top: 0px;
	left: 0px;
	background: transparent url(../images/btn.up.day.png) no-repeat;
	opacity: 0.7;
}

.buttonDown {
	height: 102px;
	width: 102px;
	position: absolute;
	padding: 50px;
	top: 0px;
	left: 0px;
	background: transparent url(../images/btn.down.day.png) no-repeat;
	opacity: 0.7;
	z-index:1000;
}

.swipeMaskSchedule {
	height: 275px;
	width: 880px;
	margin: 0px 70px 0px 70px;
	padding: 0px 20px 0px 20px;
	text-align: left;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 0px;
	
	border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #000000;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	overflow: hidden;
}

.rssData {
	padding: 0px 30px 0px 0px;
	position: absolute;
	left: 35px;
	top: 0px;
	width: 850px;
	font-size: 30px;
	font-weight: normal;
/*Eugene End*/
}

.rssData table {
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	text-overflow:clip;
	white-space: normal;
}

.rssData table tbody tr td a {
	display: inline-block;
	width: 380px;
	word-wrap:break-word;
	font-size:25px;
}

.rssData table tbody tr td div span {
	font-size:25px;
}

/*Eugene*/
.landHeight {

}

.rssData h2 {
	font-size: 34px;	
	font-weight: bold;
}

.rssData p b {
	font-size: 30px;
	font-weight: normal;
}

.rssData b {
	font-size: 30px;
	font-weight: bold;
}
	
.rssDetails {
	height: 1460px;
	width: 1080px;
	overflow: hidden;
	text-align: left;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 1080px;
}

.rssItem {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 20px 0px;
	border-bottom: 3px solid #FFFFFF;
	
	width: auto;
	min-height: 75px;
	max-height: 160px;
	vertical-align: top;
	background: transparent;
}

.rssItemWImage {
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	border-bottom: 3px solid #FFFFFF;
	
	width: auto;
	height: 80px;
	min-height: 75px;
	max-height: 100px;
	vertical-align: top;
	background: transparent;
}

.rssImage {
	width: 107px;
	height: 80px;
	margin: 0px 20px 20px 0px;
	display: inline-block;
}

.rssItemTitle {
	font-size: 36px;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 0px 0px 0px 0px;	
	max-width: 600px;
	max-height: 160px;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
}

.rssItemDate{
	font-size: 36px;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	line-height: 36px;
	padding: 0px 0px 0px 0px;
	width:250px;
	vertical-align: top;
}

.rssItemDate span{
	font-size: 26px;
}

.rssItem .rssItemDescription {
	font-size: 20px;
	color:#FFFFFF;
	text-shadow: 1px 1px 2px #222222;
	display: inline-block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
	height: 48px;

}

.rssItemWDescription {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	border-bottom: 3px solid #FFFFFF;
	
	width: auto;
	min-height: 75px;
	max-height: 160px;
	vertical-align: top;
	background: transparent;
}

.rssItemWDescription .rssItemDescription {
	font-size: 36px;
	color:#FFFFFF;
	display: inline-block;
	
	overflow: hidden;
	width: 340px;
	max-height: 160px;
}

.rssItemWDescription .rssItemTitle {
	font-size: 36px;
	color:#FFFFFF;
	text-shadow: 0px 0px 1px #AAAAAA;
	display: inline-block;
	padding: 0px 0px 0px 0px;	
	width: 510px;
	max-height: 160px;
	overflow: hidden;
	white-space: normal;
	vertical-align: top;
}

/**
 * Schedule page classes
 */
#scheduleTitle {
	color: #BA001D;
	font-size: 38px;
	font-weight: bold;
	text-align: left;
	margin: 0px 0px 0px 100px;
	width: 900px;
}

.scheduleItems {

}
.scheduleItem {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	height: 80px;
	width: 926px;
	margin: 10px 90px 30px 80px;
	background: #000000;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	vertical-align: text-top;
}

.scheduleImage {
	height: 60px;
	margin: 10px;
}

.scheduleText {
	display: inline-block;
	position: relative;
	top: -25px;
}

/**
 * Generic Styles
 */

.txtImage {
	margin: 120px 0px 0px 70px;
}

.button {
	display:inline-block;
	height:50px;
	padding: 10px 20px 10px 23px;
	margin: 10px 0px 0px 0px;
	color: #FFFFFF;
	font-size: 40px;
	text-shadow: 2px 2px 3px #444444;
	
	border: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px black;
	
	background-color: #1a82f7;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(46,46,46)),
	    color-stop(1, rgb(150,150,150))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(46,46,46) 0%,
	    rgb(150,150,150) 100%
	);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonBack {
	height: 161px;
	width: 465px;
	margin: 0px 0px 0px 0px;
	background: transparent url(../images/back.btn.day.png) no-repeat;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.buttonToList {
	height: 102px;
	width: 102px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	background: transparent url(../images/prev.day.png) no-repeat;
	display: inline-block;
}

.buttonToNext {
	height: 102px;
	width: 102px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0px 0px;
	background: transparent url(../images/next.day.png) no-repeat;
	display: inline-block;
	float: right;
}

.left {
	float:left;
}

.right {
	float: right;
}

.clear {
	clear:both;
}

/**
 * Scroll pane
 */
.scroll-pane {
	width: 100%;
	height: 200px;
	overflow: auto;
}

/**
 * Analog Clock
 */
.clockContainer {
	
}

.clock {
	position: relative;
	width: 276px;
	height: 276px;
	margin: 0px auto 0px auto;
	top: -280px;
	left: 360px;
	background: url(../images/clock.bg.day.png) no-repeat;
	list-style: none;
}

.sec, .min, .hour {
	position: absolute;
	width: 9px;
	height: 276px;
	top: 0px;
	left: 138px;
}

.sec {
	background: url(../images/clock.sec.day.png) no-repeat;
	z-index: 3;
}
   
.min {
	background: url(../images/clock.min.day.png) no-repeat;
	z-index: 2;
}
   
.hour {
	background: url(../images/clock.hr.day.png) no-repeat;
	z-index: 1;
}

/**
 * QUIZ Style classes
 */

 #quizContainer {
	width: 900px;
	height: 1080px; 
	margin: 0px 0px 0px 50px; 
	padding: 40px;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	background: #000000;
	text-align: left;
	text-shadow: 0px 0px 1px #444444;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	overflow: hidden;
 }

.quizHeading {
	font-weight: bold;
	border-bottom: 3px solid #FFFFFF;
	padding: 0px 0px 10px 0px;
}

.quizNormal {
	margin: 20px 0px 0px 0px;
}

.quizNormal ul {
	margin: 30px 0px 0px 0px;
}

.quizNormal ul li {
	list-style: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border: 3px solid #444444;
	-webkit-box-shadow: 10px 10px 10px #444444;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	margin: 10px 0px 20px 0px; 
	padding: 25px 20px 10px 20px; 
	width: 790px;
	min-height: 60px;
	display: inline-block;
	font-size: 40px;
}

.quizNormal ul li img {
	height: 200px;
	text-align:center;
	margin: 0px 0px 0px 280px;
}

#quizPopupOk {
	display: none;
	position: absolute;
	top: 400px;
	left: 0px;
	height: auto;
	width: 780px;
	margin: 200px 100px 200px 100px;
	padding: 40px 50px 15px 50px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	
	background: #FFFFFF;
	color: #000000;
}

#quizPopupFail {
	display: none;
	position: absolute;
	top: 400px;
	left: 0px;
	height: auto;
	width: 780px;
	margin: 200px 100px 200px 100px;
	padding: 40px 50px 15px 50px;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	
	background: #FFFFFF;
	color: #000000;
}

#quizAnswerDescription {
	
}

#quizNextQuestion {
	margin: 0px 0px 0px 700px;
	background: transparent url(../images/next.day.png) no-repeat;
	height: 102px;
	width: 102px;
}

#quizPrevQuestion {
	background: transparent url(../images/prev.day.png) no-repeat;
	height: 102px;
	width: 102px;
}

#quizMessage {
	display: none;
}

/**
 * Videos toggle button
 */
#divToggelVids {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px #444444;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	height: 45px;
	width: 400px;
	margin: 30px 30px 30px 300px;
	padding: 10px 30px 10px 30px;
	background: #000000;
	text-align: center;
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	vertical-align:middle;
}

.gotoMap {
border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px #222222;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	height: 48px;
	width: 200px;
	margin: 10px 0px 0px 0px;
	padding: 10px 20px 10px 0px;
	text-align: center;
	font-size: 30px;
	font-weight: normal;
	color: #FFFFFF;	 
	background: #444444;
	
	vertical-align: text-top;
}

/**
 * Contacts info pane styles
 */
.rssContainerContacts {
	position: absolute;
	left: 0px;
	top: 950px; 
	height: 550px;
	font-size: 30px;
}

.contactTextName {
	display: inline-block;
	width: 600px; 
}

.contactText {
	display: inline-block;
	width: 200px; 	
}

.divListFooterContacts {
	height: 30px;
	width: 865px;
	position: relative;
	top: -34px;
	left: 100px;
	background: transparent url(../images/panel.bottom.bg.day.png) repeat-x;
}